:root {
  --open: "Open Sans", sans-serif;
  --Raleway: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
.my-login{
  margin:30vh 0px!important;
  /* display:flex; */
  /* flex-direction:column; */
  /* align-items: center; */
  /* justify-content: center; */
}

/* +++++++++++ General Styling +++++++++++ */
.btn-general {
  border-radius: 20px;
}
.owl-theme .owl-nav [class*="owl-"] {
  font-size: 25px;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none !important;
  color: #000 !important;
}
.owl-theme .owl-nav [class*="owl-"]:focus {
  outline: none !important;
}

.img-container img {
  width: 100%;
  height: 100%;
}
/* +++++++++++ General Styling +++++++++++ */
/* ------------------------ Section 1 */

/* ------------------------ Section 1 */

#products {
  margin: 20px 0;
  padding: 50px 10px;
}
#products ul {
  display: flex;
  list-style: none;
}
#products ul li {
  margin: 0 15px;
  list-style: none;
}
#products ul li a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  padding: 4px 10px;
  color: #333;
  font-weight: 600;
}
#products ul li a{
  text-decoration:none;
}
#products ul li a.active::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 100%;
  height: 10%;
  background-color: #4c4ae9;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.products .img-container {
  position: relative;

  background: #333;
}
.img-container img {
  width: 100%;
  height: 100%;
}
.img-container a {
  position: absolute;
  right: 20px;
  top: 7px;
}

.img-details {
  background: #ddd;
  padding-left: 10px;
  width: 100%;
  padding-top: 10px;
}
.img-details h2 {
  font-size: 20px;
  font-weight: 700;
}
.img-details h5 {
  font-size: 15px;
  font-weight: 700;
}
.img-details .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img-details .details a {
  border: 2px solid #4c4ae9;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px;
}
.client-item .img-container {
  padding: 0 10px;
  /* max-width: 150px; */
  margin: 0 auto;
  line-height: 150px;
}

/*-------------------------- Section 2  */

/*---------------------------- Section -4  */
#saving-cards {
  background: linear-gradient(rgba(66, 65, 65, 0.8), rgba(73, 70, 70, 0.8)),
    url("/images/Imagesss/img/bg.JPG");
  padding: 90px 10px;
  background-position: center;
  background-size: cover;
  color: #fff;
}
#saving-cards .signup-content h2 {
  font-size: 50px;
}
/*---------------------------- Section -4  */

#section5 {
  background-color: rgb(233, 233, 233);
  padding: 40px 0px;
}

.img-contain{
  height:250px!important;
}
#section5 .img-contain{
  height:280px!important;
}
#section9{
  padding: 40px 0;
}
.saving-item {
  position: relative;
}
.saving-item .overlay {
  position: absolute;
  background: rgba(75, 73, 73, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.overlay h2 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: #fff;
}

/* +++++++++++++++++++++++++ Section7  */
#section7 {
  background: linear-gradient(to right, rgba(12,0,30,1) 0%,
  rgba(12,0,30,1) 11%,
  rgba(0,29,98,1) 36%,
  rgba(0,32,102,1) 71%,
  rgba(0,16,75,1) 97%,
  rgba(0,16,75,1) 100%);
  padding: 60px 0px;
}
.bg-img {
  background: url(/images/Imagesss/img/bg2.jpg);
  background-position: center;
  background-size: cover;
  z-index: 2;
  width: 100%;
  height: 50vh;
}
/* +++++++++++++++++++++++++ Section7  */
/* +++++++++++++++++++++++++ Section7  */
#section8 {
  /* background: #ddd; */
  padding: 60px 0px;
}
#section8 .bg-img {
  background: url(/images/Imagesss/img/EatDrink.jpg);
  background-position: center;
  background-size: cover;
  z-index: 2;
  width: 100%;
  height: 70vh;
}

/* +++++++++++++++++++++++++ Section7  */

/* +++++++++++++++++++++++++++++= Contact */
#contact {
  padding: 40px 0;
}
.gmap_canvas iframe {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
  border: 0;
  border: 0;
}
.contact-form {
  padding: 25px 30px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  /* margin-left: px; */
}
.contact-form .form-control {
  font-family: "open sans", sans-serif;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 24px;
}
.contact-form .form-control:focus {
  border-color: #f4c613;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(244, 198, 19, 0.32);
}
.contact-form h4 {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  color: #f4c613;
}

.contact-form p {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 400;
  word-spacing: 5px;
  margin-bottom: 5px;
}


.section-11{
  padding:40px 0px;
  display: flex;
  align-items:center;
  justify-content: center;
  height: 60vh;
  background-color: rgb(240, 236, 236);
}
.section-12{
  margin-top:40px;
  display: flex;
  /* align-items:center; */
  justify-content: center;
  background-color: rgb(240, 240, 240);
}
.sec-sec-head{
  text-align:center;
  width: 100%;  
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  font-weight: bold;
}

.section-13{
  display:block;
  /* height: 160vh; */
  padding-bottom:10px;
  width:100%;
  background-color: rgb(240, 240, 240);
}
.bankcoin{
  display:flex;
  width:100%;
}
a{
  text-decoration:none!important;
}
.bcc-link{
  text-decoration:none!important;
  font-family: 'Poppins', sans-serif;
  font-size:55px;
  color:rgb(1, 1, 133);
}
.bcc-link:hover{
  color:rgb(1, 1, 133);
}
.clickHere{
  margin:20px 0px;
  background-color:rgb(3, 141, 3);
  padding:5px;
  text-align: center;
  border-radius:20px;
  border:solid 1px #ecc15ce5;
  font-size: 23px;
}
.clickHere a{
  color:white;
  text-decoration:none;
}
.clickHererow{
  display: flex;
  align-items: center;
  justify-content: center;

}
.clickHere1 a{
  color:white;
  text-decoration:none;
}
.clickHere1{
  margin-top:20px;
  background-color:rgb(0, 0, 160);
  color:white;
  padding:5px;
  border-radius:20px;
  font-size: 23px;
}
.clickHere2{
  margin-top:20px;
  background-color:rgba(255, 204, 0, 0.856);
  color:white;
  padding:5px;
  border-radius:20px;
  font-size: 23px;
}
#section6{
  margin-top:40px;
}
#section6 h2{
  font-size:25px;
}
.slide-image{
  height:220px;
  width:100%;
}

.img-contain{
  height:220px;
  width:100%;
  cursor:pointer;
}
.img-contain2{
  height:300px;
  width:100%;
}
.img-contain2 img{
  width:100%;
  height:100%;  
}
.img-contain img{
  width:100%;
  height:100%;
}

.column{
  min-width:90px;
}
.heading1{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  font-weight: bold;
  text-align: center;
  color:rgb(235, 235, 235);
  
}
.heading6{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:45px;
  font-weight: 500;
  text-align: center;
  color:rgb(235, 235, 235);
}
.heading2{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  font-weight: bold;
  text-align: center;
  margin-top:50px; 
}
.heading3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  text-align: center;
  margin-top:30px
}
.heading4{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  font-weight: bold;
  text-align: center;
  margin-top:50px; 
}
.heading5{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:35px;
  font-weight: bold;
  /* font-weight: 550; */
}


@media only screen and (max-width:780px){
  
  .section-11{
    height:350px;
  }
  .img-contain2{
    height:250px;
    width:100%;
  }
  .img-contain{
    height:210px!important;
  }
  .heading1{
    font-size:23px;
  }
  .heading6{
    font-size:30px;
  }
  .heading2{
    margin-top:50px;
    font-size:23px;
  }
  .heading3{
    margin-top:0px;
    font-size:25px;
  }
  .heading4{
    margin:5px 25px;
    font-size:23px;
  }
  .heading5{
    font-size:23px;
    font-weight: 550;
  }
  .gmap_canvas iframe {
    height: 300px;
  }

  .section-13 .heading1{
    margin-bottom:5px;
  }
  #section7 .bg-img{
    height:30vh;
  }
  #section8 .bg-img{
    height:30vh;
  }
  .clickHere{
    font-size:18px;
  }
  .clickHere1{
    font-size:18px;
  }
  .clickHere2{
    font-size:18px;
  }
  .bcc-link{
    font-size:25px;
  }
  #section5 .img-contain{
    height:250px;
  }
  
  #section8 {
    /* background: #ddd; */
    padding: 10px 0px;
  }
}
@media only screen and (max-width: 450px){
  .clickHere {
    width:100%;
    padding:5px;
    font-size: 14px!important;
  }
}
@media only screen and (max-width:780px){
  .img-contain2{
    height:250px;
    width:100%;
  }
  .img-contain{
    height:250px;
  }
  .heading1{
    font-size:23px;
  }
  .heading2{
    margin-top:50px;
    font-size:23px;
  }
  .heading3{
    margin-top:20px;
    font-size:25px;
  }
  .heading4{
    margin:5px 25px;
    font-size:23px;
  }
  .heading5{
    font-size:23px;
    font-weight: 550;
  }

  /* .section-13{
    height:75vh;
  } */
  .section-13 .heading1{
    margin-bottom:5px;
  }
  #section7 .bg-img{
    height:30vh;
  }
  #section8 .bg-img{
    height:30vh;
  }
  .clickHere{
    font-size:18px;
  }
  .clickHere1{
    font-size:18px;
  }
  .bcc-link{
    font-size:25px;
  }
}
.home-footer{ 
  background-image:url("/images/Imagesss/img/bg3.jpg");
  background-position: center;
  background-size: cover;
 }
 .tab-section{
  display:flex;
  flex-flow:row wrap;
  padding:5vh 10%;
 }
 .tab-section .findus{
   flex:1 1 auto;
   margin-top:30px;
 }
 .tab-section .findus h1{
  font-size:40px;
  font-family:'Open Sans', sans-serif;
  font-weight:bolder;
 }
 .tab-section .findus h1 span{
  font-size:40px;

 }
 .tab-section .location{
  margin-top:30px;
   flex:1 1 auto;
   display:flex;
   flex-direction:column;
 }
 .tab-section .location h1{
  font-size: 25px;
  font-family:'Open Sans', sans-serif;
  font-weight: bold;

 }
 .mycolor{
   color:#1dc0f0;
   font-size:20px;
 }
 .hover-link{
   text-decoration:none!important;
   color:white;
 }
 .hover-link:hover{
   color:white!important;
 }
 .btn-submit{
  padding:8px;
  width: 100%;
  font-size: 18px;
  background-color:rgba(0,32,102,1);
  color:white;
  border-radius:15px;
}
.btn-submit2{
  padding:8px;
  font-size: 18px;
  background-color:rgba(0,32,102,1);
  color:white;
  border-radius:15px;
}
.big-section{
  height:50vh;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  background: linear-gradient(to bottom,rgba(12,0,30,1) 0%,
  rgba(12,0,30,1) 18%,
  rgba(0,29,98,1) 45%,
  rgba(0,32,102,1) 71%,
  rgba(0,16,75,1) 97%,
  rgba(0,16,75,1) 100%);
}
.big-section h1{
  font-size: 140px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #c7aa64;
  transform:uppercase;
  margin:0px;
}
.vimeo-wrapper {
  background: linear-gradient(to bottom,rgba(12,0,30,1) 0%,
  rgba(12,0,30,1) 18%,
  rgba(0,29,98,1) 45%,
  rgba(0,32,102,1) 71%,
  rgba(0,16,75,1) 97%,
  rgba(0,16,75,1) 100%);
  width: 100%;
 height: 56.25vw; 
  z-index: 1;
  display:flex;   
}
.vimeo-wrapper iframe {
 width: 100vw;
 min-height: 100vh;

}
@media only screen and (max-width:1024px){
  
  .big-section h1{
    font-size: 50px;
  }
  .heading2{
    margin-top:43px;
    font-size:23px;
  }
}
@media only screen and (max-width:780px){
  
.big-section{
  height: 276px;
  padding-top:10vh;
}
.big-section h1{
  font-size: 40px;
  }
  .vimeo-wrapper iframe {
    min-height:45vh;

   }
  .vimeo-wrapper {
     height: 40.25vw; 
  }
}
/* +++++++++++++++++++++++++++++= Contact */


/* *************************************footer****************************************** */


.bottom-footer{
  background-color: #181B1C;
  color:white;
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  flex-flow:row wrap;
}
.bottom-footer .usefull{
  /* -right: */
  margin:30px 10%;
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
}
.bottom-footer .usefull h1{
  font-size:23px;
  color:white;
}
.bottom-footer .usefull p a{
  text-decoration:none;
  color:white;
  font-size:1rem;
}
.bead-bottom{
  background-color: #181B1C;
  color:white;
  display:flex;
  justify-content:center;
  padding:10px 18%;
  align-items: center;
  flex-flow:row wrap;
}
.bead-bottom div{
  flex:1 1 auto;
  color:white;
}
.bead-bottom div a{
  text-decoration:none;
  color:white;
}
.contact-feild{
  padding:20px 10px!important;
  border-radius:20px!important;
}

@media only screen and (max-width:780px){
  .bottom-footer{
    justify-content: flex-start;
  }
  .bead-bottom{
    padding:10px 10%;
  }
  .bead-bottom div{
    font-size:13px;
  }
  .bottom-footer .usefull{
    margin:15px 10%;  
  }

}
@media only screen and (max-width:450px){
  .bottom-footer{
    justify-content: flex-start;
  }
  .bead-bottom{
    padding:10px 7%;
  }
  .bead-bottom div{
    font-size:13px;
  }
  .heading6{
    font-size:24px;
  }

}

.signup-content .heading1 a{
  text-decoration:none;
  color:rgba(32, 163, 32, 0.897);
}
.container .heading4 a{
  text-decoration:none;
  color:rgb(31, 30, 30);
}





/* **************************************footer******************************************** */





/* ************************************* product page ************************************* */

.pro_h{
  display:flex;
  justify-content:center;
  flex-direction:column;
  text-align:center;
  align-items:center;
  margin:20px 15%;
}
.pro_h h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size:40px;
}
.pro_h h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size:25px;
}
.pro_h p{
  margin-top:20px;
  font-size:20px;
  margin:0px;
}
.pro_h2 {
  text-align:center;
  margin:10px 15%;
}
.pro_h2 h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size:34px;
}
.pro_h2 p{
  margin-top:20px;
  font-size:20px;
}
.pro-con{
  width:100%;
  height:350px;
  margin:15px 5px;
}
.pro-con img{

  width:100%;
  height:100%;
}
.paypal-btn{
  width:400px;
  height:auto;
}
.pro-img{
  width:100%;
  height:260px;
  
}
@media only screen and (max-width:780px){
  
  .pro_h2{
    margin:10px 2%;
  }
  .pro_h p{
      font-size:15px;
  }
  .pro_h h1{
      font-size:20px;
  }
  .pro_h{
      margin:10px 5%;
  }
  .pro_h p{
    font-size:18px;
  }
  .pro_h2 p{
    font-size:18px;
  }
  .pro_h h1{
    font-size:28px;
  }
  .pro_h h2{
    font-size:23px;
  }
  .pro_h2 h2{
    font-size:28px;
  }
  .paypal-btn{
    width:300px;
    height:auto;
  }
  .pro-con{
    height:300px;
  }
  .pro-img{
    width:100%;
    max-height:50%;
    
  }

}
@media screen and (max-width:430px ) {
  .pro-con{
    height:200px;
  }
}

@media screen and (max-height:430px ) {
  
  #section7 .bg-img{
    height:100vh!important;
  }

  #section8 .bg-img{
    height:100vh!important;
  }
  .img-contain{
    height:170px!important;
  }
  .pro-con{
    height:300px;
  }
 }
.client-item .img-contain img{
  background-size: cover;
}
.cd-h{
  max-width: 100%;
  /* max-height: 50%; */
}

.cate{
  margin-bottom:04px;
  width:50%;
}



#signup { 
  display:block;
  background: linear-gradient(to right, rgba(12,0,30,1) 0%,
  rgba(12,0,30,1) 11%,
  rgba(0,29,98,1) 36%,
  rgba(0,32,102,1) 71%,
  rgba(0,16,75,1) 97%,
  rgba(0,16,75,1) 100%);
  padding: 30px 25px;
}

.update-signup{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction:column;
  text-align:center;
  margin:0px 10%;
}

.update-signup h1{
  font-family: 'Poppins', sans-serif;
  font-size:40px;
  text-transform:uppercase;
  color:#c7aa64;
}
.update-signup p{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:25px;
  color:white;
}
.stores{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width:100%;
  background-color:#F0F0F0;
  padding:30px 30%;
}

.store-logo{
  flex:1 1 70px;
  margin:0px 10%;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
/* .store-logo a img{
  width:150px;
  height:65px;
} */
.store-logo a{
  text-decoration: none;
}
.store-logo a img{
  border-radius: 20px;
  width:240px;
  height:100px;
}
.store-coming{
  font-size:1.5rem;
  font-weight: bold;
  color:rgba(255, 204, 0, 0.856);
}
.flex-container{
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  flex-wrap:wrap;
}
.flex-container .card{
  flex:0 1 355px;
  margin:10px 10px;
}
.pro-container{
  margin:20px 8%;
}
@media only screen and (max-width:800px){
  .update-signup {
    margin:0px 5%;
  }
  .update-signup h1{
    font-size:25px;
  }
  .update-signup p{
    font-size:18px;
  }
  .store-logo a img{
    width:150px;
    height:65px;
  }
  #signup { 
    padding: 30px 0px;
  }
  .store-coming{
    font-size:1rem;
  }
  .flex-container{
    justify-content: center;
  }
  .pro-container{
    margin:20px 5%;
  }
}
@media only screen and (max-width:450px){
  .update-signup h1{
    font-size:20px;
    padding-top:10px;
  }
  .update-signup p{
    font-size:15px;
  }
}
.rigrex{
  width:25px;
  height:auto;  
}
.u-rigrex{
  padding:10px;
}
.u-rigrex :hover{
  border-bottom: solid 1px rgb(231, 228, 228);
  transition: all ease-in 1s;
}

