nav{
    display:flex;
    justify-content:space;
    align-items:center;
    min-height:10vh;
    font-family:"Open Sans", sans-serif;
    background-color:black;
    color:white;
}
.email{
    flex:1 1 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
nav .logo .img-con{
    width:50px;
    height:50px;

}
nav .logo .img-con img{
    width:100%;
    height:100%;
    border-radius:100%;
    box-shadow: 2px 2px 31px -5px #c7aa64;
}
.logo{
    flex:1 1 15%;
    display: flex;
    justify-content: center;
    padding:5px 5px;
    padding-top:10px;
    color:white;
    font-size: 10px;
    font-family:sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    transform:uppercase;
}
.nav-links{
    flex:1 1 65%;
    height:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    margin:0px;
    padding:10px 0px;

}

.nav-links li{
    list-style:none;
    margin-right: 17px;
}
.nav-links li a{
    text-decoration:none;
    font-weight:600;   
    color:white;
    font-size:17px;
    transform:uppercase;
}
.email h5{
    font-size: medium;
    font-family:"Open Sans", sans-serif;
    font-weight: 600;
}
nav .burger{
    display:none;
    cursor:pointer;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    flex:1 1 5%;
}
nav .burger div{
    height:3px;
    background-color:white;
    width:25px;
    margin:5px;
    transition:all 1s ease;

}

@media screen and (max-width:768px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:4;
        height: 180px;
        width:100%;
        transition: height 0.5s ease-in;
    }
    nav .burger{
        cursor:pointer;
        display:block;
    }
    nav .nav-links{
        position:absolute;
        transform: translateY(-100%);
        flex:1 1 60%;
        height: 10px;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        transition: transform 0.2s ease-in;
    }
    nav .logo{
        margin-right:5px;
        flex:1 1 20%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
    }
    nav .email{
        flex:1 1 15%;
        display: flex;
        justify-content:flex-end;
        align-items:center;
        flex-direction:column;
    }
    
    .nav-links li{
        opacity:0;
    }
    .nav-links li a{
        font-size:16.5px;
    }

}
.nav-active{
    font-size: medium;
}

@keyframes navLinkFade{
    0% {
        opacity: 0;
    }

    1% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}
.toggle .line1{
    transform:rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform:rotate(45deg) translate(-5px,-6px);
}
.meMail{
    font-size:15px;
    margin-right:4px;
    color:#c7aa64;
}