:root {
    --open: "Open Sans", sans-serif;
    --Raleway: "Raleway", sans-serif;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
  }
  .sal-heading1{
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    padding:30px 0px;
    
  }
  .gr-col{
    background-color: rgb(233, 233, 233);
  }
  .gr-col .heading h3{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size:2.3em;
  }
  .gr-col .h1-mar h1{
    font-size: 40px;
  }
  .h5-mar h3{
    font-family: 'Source Sans Pro', sans-serif;
    
    font-size: 25px;
    font-weight: 600;
  }
  .sal-top{
    padding:10px 0px;
    display:flex;
    align-items:center;
    text-align:center;
    justify-content:center;
    flex-direction:column;
    color: #c7aa64;
    font-family: 'Source Sans Pro', sans-serif;
    
    background: linear-gradient(to right, rgba(12,0,30,1) 0%,
                                          rgba(12,0,30,1) 11%,
                                          rgba(0,29,98,1) 36%,
                                          rgba(0,32,102,1) 71%,
                                          rgba(0,16,75,1) 97%,
                                          rgba(0,16,75,1) 100%);
  }


  .h1-mar{
      margin:10px 10%;
  }
  .h1-mar h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
.h4-mar{
  margin:0px 7%;
}
.h4-mar h1{
  font-size:2.2em;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}
.h4-mar h3{

  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  
}

.h1-mar h1{
  font-family: 'Poppins', sans-serif;;
  
  font-size: 50px;
  font-weight: bold;
}
  .h1-mar{
      font-weight:500;
  }
  .h3-mar h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:35px;
    font-weight: bold;
    text-align: center;
  }


  /* section 2 */

  .sal-sec-2{
    flex-flow:row wrap;
    display:flex;
    margin:0px 10%;
    justify-content: center;
    align-items: center;
  }
  .sal-sec-2 .img-con{
    flex:0 1 440px;
    margin:20px;
    height: 260px;
  }

  .sal-sec-4{
    flex-flow:row wrap;
    display:flex;
    margin:0px 10%;
    justify-content: center;
    align-items: center;
  }
  .sal-sec-4 .img-con{
    flex:0 1 330px;
    margin:10px;
    height: 200px;
  }
  .sal-sec-5{
    flex-flow:row wrap;
    display:flex;
    margin:0px 10%;
    justify-content: center;
    align-items: center;
  }
  .sal-sec-5 .img-con{
    flex:0 1 330px;
    margin:10px;
    height: 200px;
  }
  .banner{
    flex-flow:row wrap;
    display:flex;
    margin:0px 10%;
    margin-top:100px;
    justify-content: center;
    align-items: center;
  }
  .banner-card{
    flex-flow:row wrap;
    display:flex;
    margin:50px 10%;
    justify-content: center;
    align-items: center;
  }
  .banner-card .img-con{
    flex:0 1 80%;
    height: auto;
  }

  @media(max-width:728px){
    .sal-sec-2 .img-con{
      flex:0 1 420px!important;
      height: 200px!important;
    }
    .sal-sec-4 .img-con{
      flex:0 1 420px!important;
      height: 200px!important;
    }
    .sal-sec-5 .img-con{
      flex:0 1 420px!important;
      height: 200px!important;
    }

    .sal-top .h1-mar h3{
      font-size: 23px;
      margin:10px 0px;
    }
    .sal-top .h1-mar{
      margin:10px 0px;
    }
    .sal-top .h1-mar h1{
      font-size: 25px;
    }
    .gr-col .heading h3{
      font-size:23px;
    }
    .gr-col .h1-mar h1{
      font-size:20px;
    }
    .sal-heading1{
      padding:10px 0px;
    }
    .h1-mar{
      margin:10px 1%;
    }
    .banner-card{
      margin:24px 10%;
    }
    
  }
  @media(max-width:510px){
    .sal-sec-2 .img-con{
      flex:0 0 382px!important;
      height: 200px!important;
    }
    .sal-sec-4 .img-con{
      flex:0 0 382px!important;
      height: 200px!important;
    }
    .sal-sec-5 .img-con{
      flex:0 0 382px!important;
      height: 200px!important;
    }
  }
  @media(max-width:450px){
    .sal-sec-2{
      margin:0px 2%;
    }
    .sal-sec-4{
      margin:0px 2%;
    }
    .sal-sec-5{
      margin:0px 2%;
    }
    .sal-sec-2 .img-con{
      flex:0 1 266px!important;
      height: 160px!important;
    }
    .sal-sec-4 .img-con{
      flex:0 1 266px!important;
      height: 160px!important;
    }
    .sal-sec-5 .img-con{
      flex:0 1 266px!important;
      height: 160px!important;
    }
    .sal-top .h1-mar h3{
      font-size: 18px;
      margin:10px 0px;
    }
    .sal-top .h1-mar{
      margin:10px 5px;
      
    }
    .sal-top .h1-mar h1{
      font-size: 21px;
    }
    .gr-col .heading h3{
      font-size:18px;
    }
    .gr-col .h1-mar h1{
      font-size:20px;
    }

   
  }
  .banner .img-con{
    flex:0 1 100%;
    height: auto;
  }
  .sal-sec-6{
    flex-flow:column nowrap;
    display:flex;
    margin:0px 10%;
    justify-content: center;
    align-items: center;
  }
  .sal-sec-6 .button{
    margin:20px 0px;
    text-align:center;
    width:400px;
    padding:10px 10px;
    background-image: radial-gradient(circle 248px at center,rgba(32, 163, 32, 0.897) 0%,  rgb(6, 158, 6) 100%);
    font-size: 1.7em;
    font-weight:500;
    color:rgb(38, 56, 4);
    border-radius: 20px;
    border:1px solid rgb(38, 56, 4);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    cursor:pointer;
    -webkit-box-shadow: 5px 10px 31px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 10px 31px -5px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 31px -5px rgba(0,0,0,0.75);
    opacity: 0.9;
    transition: 0.3s;
  }
  .sal-sec-6 .button:hover{
    
    -webkit-box-shadow: 10px 15px 35px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 15px 35px -2px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 35px -2px rgba(0,0,0,0.75);
  }
  .sal-sec-6 .button:active{
background-image: radial-gradient(circle 248px at center,rgb(134, 185, 22) 0%, rgb(107, 202, 29) 100%);
    opacity: 1;
  }
  .sal-sec-6 .button .dollar{
    color:white;
}


.sal-sec-6 .button .saving{
    display:block;
    margin-bottom: 0px;   
}
  
  .img-con img{
    width:100%;
    height:100%;
  }
  .sal-sec-3{
    font-family: 'Source Sans Pro', sans-serif;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding:5% 15%;
    background: linear-gradient(to bottom,rgba(12,0,30,1) 0%,
                                          rgba(12,0,30,1) 18%,
                                          rgba(0,29,98,1) 45%,
                                          rgba(0,32,102,1) 71%,
                                          rgba(0,16,75,1) 97%,
                                          rgba(0,16,75,1) 100%);
    color:white;
  }
  .sal-sec-3 h1{
    font-family: 'Poppins', sans-serif;
      text-align: center;
      color: #c7aa64;
      margin-bottom:5%;
      font-size:70px;
      font-weight:bold;
  }
  .sal-sec-3 h3{
    margin-bottom:19px
  }
  .sec-3-lower .child{
    display:flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .child .child1 span{
    border-radius: 100px;
    padding: 6px 15px;
    font-size:25px;
    font-family:'Poppins', sans-serif;
      font-weight: bold;
      margin-right:30px;
      color:black;
      background-color: white;
  }
  .child .child2 h3 a{
    text-decoration: none;
    font-family:  'Poppins', sans-serif;
    font-size:30px;
    font-weight: bold;
    color: #c7aa64;

  }
  @media(max-width:1200px){
    .sal-sec-3 h1{
        margin-bottom:5%;
        font-size:40px;
    }
  }

  @media(max-width:800px){
    .h4-mar h1{
      font-size:25px;
    }
    .h4-mar h3{
      font-size:25px;
    }
    .sal-sec-3 h1{
      font-size:25px;
    }
    .sec-3-lower .child h3{
      font-size:1.3em;
    }
    .sec-3-lower .child .child1 span{
      font-size:13px;
      padding: 3px 7px;
      margin-right:7px;
    }
    .sec-3-lower .child .child1{
    transform:translateY(-10px);
    }
    .child .child2 h3 a{
    font-size:15px;
    }
    .sal-sec-3{
      padding:5% 5%;
    }
    .banner{
      margin:0px 0px;
      margin-top:10px;

    }
    
  }
  @media(max-width:450px){
    .sal-sec-3 {
      padding: 5% 5%;
  }
    .h4-mar h1{
      font-size:20px;
    }
    .h4-mar h3{
      font-size:18px;
    }
    .sal-sec-3 h1{
      font-size:20px;
    }
    .sec-3-lower .child h3{
      margin-top:3px;
      font-size:16px;
    }
    .sal-sec-3 .child span{
      font-size:10px;
      padding: 2px 6px;
      margin-right:10px;
    }
    .child .child2 h3 a{
      font-size:16px;
      }
    .banner{
      margin:0px 0px;
      margin-top:10px;

    }
  }
  @media(max-width:384px){
    .sal-sec-3 {
      padding: 5% 2%;
    }
  }
  .banner2{
    background: linear-gradient(to bottom,rgba(12,0,30,1) 0%,
                                          rgba(12,0,30,1) 18%,
                                          rgba(0,29,98,1) 45%,
                                          rgba(0,32,102,1) 71%,
                                          rgba(0,16,75,1) 97%,
                                          rgba(0,16,75,1) 100%);
  }
.stimulate{
    padding:10px 20px;
/* background-image: radial-gradient(circle 248px at center,rgb(253, 253, 10) 0%, rgb(230, 230, 4) 100%); */
    margin-top:20px;
    margin-bottom:20px;
    text-align: center;
    color:rgb(243, 243, 243);
}
.stimulate p{
    font-size:1.8em;
}

.sal-sec-1{
  display:flex;
  align-items: center;
  text-align:center;
  justify-content:center;
  flex-direction: column;
  margin:30px 15%;
}
.sal-sec-1 .para1{
  font-size:2rem;
}
.sal-sec-1 p{
  font-size:1.6rem;
  color:white;
}
.sal-sec-1 .lightblue{
  color:rgb(250, 250, 46);
}

.sal-heading1 .h4-mar h2{
  color: #c7aa64;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.head-para{
  display:flex;
  flex-direction:column;
  margin:10px 10%;
  text-align: center;
}
.head-para h1{
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size:30px; 
}
.head-para p{
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size:20px; 
}
.bcc-section{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;  
}
.bcc-section h1{
  font-family:'Open Sans', sans-serif;
  font-weight: bold;
  font-size:40px; 
}
.bcc-section img{
  width:200px;
}

.bcc-image .img-con{
  flex:0 1 150px
}
.lower{
  padding-bottom: 10px;
  background-color: rgb(233, 233, 233);
}
.lower-sec-1{
  display:flex;
  flex-direction:row;
  justify-items: flex-start;
  align-items: flex-start;
  font-family:'Open Sans', sans-serif;
  margin:20px 15%;
}

.lower-sec-1 .child1{
  transform: translateY(-5px);
  flex:0 1 auto;
  padding-top:12px;
  font-weight: bold;
}

.lower-sec-1 .child1 span{
  border-radius: 100px;
  font-size:1.5em;
  padding: 9px 15px;
  font-family:'Open Sans', sans-serif;
  margin-right:30px;
  color:white;
  background-color: rgba(0,32,102,1);
}
.lower-sec-1 .child2{
  flex:1 1 auto;
  text-align: left;
}
.lower-sec-1 .child2 span{
  font-size:1.5em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}
.lower-sec-2{
  display:flex;
  justify-content: center;
  align-items: center;
  text-align:center;
  margin:20px 30%;
}
.lower-sec-2 h1{
  padding:20px 0px;
  font-size: 1.7em;
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight: 600;
}
.what-say{
  font-size:25px!important;
}
.saleHere{
  margin:20px 0px;
  padding:5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.salehereinner{
  font-size: 28px;
  background-color:rgb(3, 141, 3);
  border-radius:20px;
  border:solid 1px #ecc15ce5;

}
.relative-size{
  font-size:1.2em;
}
@media(max-width:780px){
  .stimulate{
    padding:10px 5px;
  }
  .lower-sec-2{
    margin:20px 18%!important;
  }
  .lower-sec-2 h1{
    padding:20px 0px;
    font-size: 1.4em!important;
  }
  .salehereinner{
    font-size: 23px;
  }
  .bcc-section img{
    width:150px;
  }
  .sal-heading1 .h4-mar h2{
    font-size:25px;
  }
  .sal-sec-1 p{
    font-size: 1.2rem;
  }
  .sal-sec-1{
    
    margin:10px 7%;
  }
  .stimulate p{
    font-size:1.2em;
  }
  .head-para h1{
  font-size:21px; 
  }
  .head-para p{
  font-size:1em; 
  }
  .lower-sec-1{
    margin:10px 5%;
  }
  .lower-sec-1 .child1 {
    transform: translateY(-10px);
  }
  .lower-sec-1 .child1 span{
    margin-right:10px;
    font-size:18px;
    padding:3px 7px;
  }
  .lower-sec-1 .child2 span{
    font-size:1em;
  }
  .sal-sec-6 .button{
    width:320px;
    padding:8px 8px;
    font-size: 1.4em;
  }
  .bcc-section h1{
   font-size:30px; 
  }
  .sal-sec-1 .para1{
    font-size:1.1rem;
    margin-bottom:20px;
  }
  .what-say{
    font-size:23px!important;
  }

}

@media(max-width:450px){
  .salehereinner{
    font-size: 18px;
  }
  .sal-heading1 .h4-mar h2{
    font-size:1.5em;
  }
  .sal-sec-1 p{
    font-size: 1rem;
  }
  .sal-sec-1{
    margin:10px 5%;
  }
  .lower-sec-1 .child1 span{
    font-size:1em;
    
    padding:3px 7px;
  }
  .lower-sec-1 .child2 span{
    font-size:1em;
  }
  .sal-sec-1 .para1{
    font-size:0.9rem;
    margin-bottom:20px;
  }
  .stimulate p{
    font-size:1em;
  }
  .sal-sec-6 .button{
    width:270px;
    padding:8px 8px;
    font-size: 1.2em;
  }
  .lower-sec-2{
    margin:20px 10%!important;
  }

}

.sal-sec-6 a{
  text-decoration:none!important;
}