<template>
    <div class="container">
        <div class="cate">
            <select class="form-control" v-model="key" @change="onChange($event)">                
                <option v-for="(category,index) in categories" v-bind:key="index" v-bind:value="category.id" >
                    <!-- <div @change="getByCategory(category.id)"> -->
                        {{category.name}}
                    <!-- </div> -->
                </option>
            </select>
        </div>
        <span style="margin-bottom:110px;">filter by city:</span>
        <div class="row">
            <div class="col-md-4" v-for="(card,index) in cards" v-bind:key="index">
                <div class="card my-card">
                    <div class="card-header cd-h" >
                        <img v-bind:src="card.image" class="pro-img">
                    </div>
                    <div class="card-body">
                        <div class="cd-title" v-if="card.title"><h4>{{card.title}}</h4></div>
                        <div class="cd-comp" v-if="card.address"><p>{{card.address}}</p></div>
                        <div class="cd-des" v-if="card.description"><p>{{card.description}}</p></div>
                        <div class="cd-ph" v-if="card.phone"><h6>{{card.phone}}</h6></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        created(){
            this.getCardProducts();
        },
        data(){
            return{
                cards:[],
                categories:[],
                key:''         
            }
        },
        watch(){
            catid:(newval)=>{
                alert(newval);
                this.getByCategory(newval);
            }
        },
        methods:{
            getByCategory(id){
                axios.get(`getByCategory/${id}`)
                    .then((response)=>{
                        this.cards=response.data.data;
                    });
            },
            getCardProducts(){
            axios.get('getCardProducts')
                .then((response)=>{
                    this.cards=response.data.cards;
                    this.categories=response.data.categories;
                    this.key=response.data.key.id;

                    console.log(this.cards);
                });
            },
            // here(){
            //     alert('here');
            // },
            onChange(event){
                this.getByCategory(event.target.value);
            }
        }

    }
</script>
<style>
.cd-h{
    max-width: 100%;
    /* max-height: 50%; */
}
.pro-img{
    width:100%;
    max-height:50%;

}
.cate{
    margin-bottom:04px;
    width:50%;
}


</style>